@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global visible dark scrollbar for all scrollable areas */
::-webkit-scrollbar {
    height: 6px;
    /* Horizontal scrollbar height */
    width: 6px;
    /* Vertical scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Dark gray */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}